<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">

<link href="/images/logo.png" rel="icon" media="(prefers-color-scheme: light)">
<link href="/images/logo-light.png" rel="icon" media="(prefers-color-scheme: dark)">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
