<header class="bg-gray-800 shadow-lg w-full relative">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <!-- Logo -->
      <div class="flex items-center">
        <img src="/images/logo-light.png" alt="Logo" class="h-8 w-auto" />
        <a href='{{ "/" | relLangURL }}' class="text-xl font-bold text-white hover:text-white">{{ site.Title }}</a>
      </div>

      <!-- Navigation Menu -->
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
  </div>
</header>
