{{ $type := .Get "type" | default "line" }}

{{ $title := .Get "title" }}
{{ $description := .Get "description" }}

{{ $indicator := .Get "indicator" }}
{{ $unit := .Get "unit" }}

{{ $timeStart := .Get "time-start" }}
{{ $timeEnd := .Get "time-end" }}

{{ $locations := .Get "locations" }}
{{ $regions := .Get "regions" | default "AF" }}

<div class="max-w-full mx-auto border border-gray-100">
    <div class="chart-container-wrapper flex flex-col md:flex-row">
        <div class="chart-container p-2 md:w-3/4">
            <!-- Header section -->
            <div class="flex flex-row">
                <div class="flex-grow">
                    <h1 class="text-2xl font-bold font-serif text-gray-800">{{ $title }}</h1>
                    <p class="text-sm text-gray-600 my-2">
                        {{ $description }}
                        <span class="text-xs">({{ $unit }})</span>
                    </p>
                </div>

                <div class="flex-shrink-0">
                    <img src="/images/logo.png" width="40" height="40" />
                </div>
            </div>

            <!-- Chart -->
            <div class="chart w-full h-[30rem]" data-type="{{ $type }}" data-title="{{ $title }}"
                data-description="{{ $description }}" data-indicator="{{ $indicator }}"
                data-time-start="{{ $timeStart }}" data-time-end="{{ $timeEnd }}" data-locations="{{ $locations }}"
                data-regions="{{ $regions }}">
            </div>

            <!-- Data source section -->
            <div class="md:w-full mt-5 text-xs text-gray-600">
                <p>
                    <span class="font-semibold">Source(s): </span><span class="sources"></span>
                </p>
                <p>causality.africa{{ strings.TrimSuffix "/" .Page.RelPermalink }} | CC BY 4.0</p>
            </div>
        </div>

        <div class="side-panel md:w-1/4 border-l border-gray-100 p-2">
            <h2 class="text-xs text-gray-600 font-semibold py-2">VISUALIZATION</h2>
            <!-- Tab navigation -->
            <div class="flex w-full">
                <button
                    class="flex-1 px-4 py-2 text-xs border border-gray-300 rounded-l-md hover:bg-gray-100 cursor-pointer">
                    <i class="fa-solid fa-earth-africa"></i>&nbsp;
                    MAP
                </button>
                <button
                    class="flex-1 px-4 py-2 text-xs border border-gray-300 border-l-0 rounded-r-0 hover:bg-gray-100 cursor-pointer">
                    <i class="fa-solid fa-chart-line"></i>&nbsp;
                    CHART
                </button>
                <button
                    class="save-chart flex-1 px-4 py-2 text-xs border border-gray-300 border-l-0 rounded-r-md hover:bg-gray-100 cursor-pointer">
                    <i class="fa-solid fa-download"></i>&nbsp;
                    SAVE
                </button>
            </div>

            <!-- Country selection panel -->
            <div class="selection-panel mt-2">
                <h2 class="text-xs text-gray-600 font-semibold py-2">SELECT COUNTRIES AND REGIONS</h2>

                <!-- Selected locations section -->
                <div class="selected-locations h-[28rem] overflow-y-auto divide-y divide-gray-200">
                </div>
            </div>
        </div>
    </div>
</div>
