{{ $type := .Get "type" | default "line" }}

{{ $title := .Get "title" }}
{{ $description := .Get "description" }}
{{ $note := .Get "note" }}

{{ $xIndicator := .Get "x-indicator" }}
{{ $xLabel := .Get "x-label" }}
{{ $xScale := .Get "x-scale" | default "linear" }}

{{ $yIndicator := .Get "y-indicator" }}
{{ $yLabel := .Get "y-label" }}
{{ $yScale := .Get "y-scale" | default "linear" }}

{{ $sizeIndicator := .Get "size-indicator" }}
{{ $sizeScale := .Get "size-scale" | default "sqrt" }}
{{ $sizeRange := .Get "size-range" | default "[4,40]" }}

{{ $colorBy := .Get "color-by" }}
{{ $colorScheme := .Get "color-scheme" | default "some-scheme" }}

{{ $timeStart := .Get "time-start" }}
{{ $timeEnd := .Get "time-end" }}
{{ $timeInterval := .Get "time-interval" | default "year" }}

{{ $locations := .Get "locations" }}
{{ $regions := .Get "regions" }}

<div class="max-w-full mx-auto border border-gray-100">
    <div class="flex flex-col md:flex-row">
        <div id="chart-container-wrapper" class="p-2 md:w-3/4">
            <!-- Header section -->
            <div class="flex flex-row">
                <div class="flex-grow">
                    <h1 class="text-2xl font-bold font-serif text-gray-800">{{ $title }}</h1>
                    <p class="text-sm text-gray-600 my-2">{{ $description }}</p>
                </div>

                <div class="flex-shrink-0">
                    <img src="/images/logo.png" width="40" height="40" />
                </div>
            </div>

            <!-- Chart container -->
            <div id="chart-container" class="w-full h-[30rem]" data-type="{{ $type }}" data-title="{{ $title }}"
                data-description="{{ $description }}" data-note="{{ $note }}" data-x-indicator="{{ $xIndicator }}"
                data-x-label="{{ $xLabel }}" data-x-scale="{{ $xScale }}" data-y-indicator="{{ $yIndicator }}"
                data-y-label="{{ $yLabel }}" data-y-scale="{{ $yScale }}" data-size-indicator="{{ $sizeIndicator }}"
                data-size-scale="{{ $sizeScale }}" data-size-range="{{ $sizeRange }}" data-color-by="{{ $colorBy }}"
                data-color-scheme="{{ $colorScheme }}" data-time-start="{{ $timeStart }}" data-time-end="{{ $timeEnd }}"
                data-time-interval="{{ $timeInterval }}" data-locations="{{ $locations }}"
                data-regions="{{ $regions }}">
            </div>

            <!-- Data source section -->
            <div class="md:w-full mt-5">
                <p class="text-sm text-gray-600">
                    <span class="font-semibold">Source: </span>United Nations (2025)
                </p>
                <p class="text-sm text-gray-600 mt-1">causality.africa{{ strings.TrimSuffix "/" .Page.RelPermalink }} |
                    CC BY 4.0</p>
            </div>
        </div>

        <div class="md:w-1/4 border-l border-gray-100 p-2">
            <h2 class="text-xs text-gray-600 font-semibold py-2">VISUALIZATION</h2>
            <!-- Tab navigation -->
            <div class="flex w-full">
                <button class="flex-1 px-4 py-2 text-xs border border-gray-300 rounded-l-md hover:bg-gray-100 cursor-pointer">
                    <i class="fa-solid fa-earth-africa"></i>&nbsp;
                    MAP
                </button>
                <button
                    class="flex-1 px-4 py-2 text-xs border border-gray-300 border-l-0 rounded-r-0 hover:bg-gray-100 cursor-pointer">
                    <i class="fa-solid fa-chart-line"></i>&nbsp;
                    CHART
                </button>
                <button id="save-chart"
                    class="flex-1 px-4 py-2 text-xs border border-gray-300 border-l-0 rounded-r-md hover:bg-gray-100 cursor-pointer">
                    <i class="fa-solid fa-download"></i>&nbsp;
                    SAVE
                </button>
            </div>

            <!-- Country selection panel -->
            <div class="hidden md:block mt-2">
                <h2 class="text-xs text-gray-600 font-semibold py-2">SELECT COUNTRIES AND REGIONS</h2>

                <!-- Search input -->
                <div class="mb-2">
                    <div class="relative">
                        <input type="text" placeholder="Search"
                            class="w-full border border-gray-300 rounded-md py-2 px-4 pl-10">
                        <svg class="absolute left-3 top-3 h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </div>
                </div>

                <!-- Selected locations section -->
                <div id="selected-locations" class="h-[27rem] overflow-y-auto divide-y divide-gray-200">
                </div>
            </div>
        </div>
    </div>
</div>
